.container {
  padding: 0;
  background-color: #1D1D1D;
}

.main {
  min-height: 100vh;
}

.navbar {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.logo {
  width: auto;
  margin: 0 auto;
}

.logo a {
  display: flex;
  align-items: center;
}

.logoName {
  color: #FFF;
  padding-left: 10px;
}

.icons {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  padding-right: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
