.container {
  padding: 0;
  background-color: #1D1D1D;
  position: relative;
  z-index: 9999;
}

.main {
  height: 100vh;
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.logo {
  width: auto;
  margin: 0 auto;
}

.logo a {
  display: flex;
  align-items: center;
}

.logoName {
  color: #FFF;
  padding-left: 10px;
  font-size: 28px;
}

.icons {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.icons a:hover {
  background-color: #FFF;
  border-radius: 50%;
}

.section {
  display: flex;
  align-items: center;
}

.col {
  width: 80%;
}

.col h1 {
  font-size: 45px;
  color: #FFF;
}

.col p {
  font-size: 18px;
  color: #A9A9A9;
  margin: -10px 0 0;
}

.col a {
  background-color: #27AE60;
  color: #fff;
  font-weight: bold;
  display: flex;
  width: 240px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 15px;
  border-radius: 20px;
  margin: 50px 0 0;
  position: relative;
  cursor: pointer;
  z-index: 999;
  transition: .5s;
}

.col a::before {
  content: '';
  width: 100px;
  height: 3px;
  background-color: #27AE60;
  display: block;
  position: absolute;
  bottom: -15px;
  transition: .5s;
}

.col a:hover {
  opacity: .7;
  transition: .5s;
}

.col a:hover::before {
  width: 150px;
  transition: .5s;
}

.colImage {
  width: 100%;
}

.blobs {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.blobCima {
  position: fixed;
  top: 12%;
}

.blobBaixo {
  position: fixed;
  bottom: -5px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
