.container {
  padding: 0;
  background-color: #1D1D1D;
}

.main {
  height: 100vh;
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.logo {
  width: auto;
  margin: 0 auto;
}

.logo a {
  display: flex;
  align-items: center;
}

.logoName {
  color: #FFF;
  padding-left: 10px;
}

.icons {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.icons a:hover {
  background-color: #FFF;
  border-radius: 50%;
}

.section {
  display: flex;
  align-items: center;
}

.col {
  width: 80%;
}

.col h1 {
  font-size: 45px;
  color: #FFF;
}

.col p {
  font-size: 18px;
  color: #A9A9A9;
}

.colImage {
  width: 100%;
}

.blobs {
  position: fixed;
  inset: 0;
}

.blobCima {
  position: fixed;
  top: 12%;
}

.blobBaixo {
  position: fixed;
  bottom: -5px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
