.users {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}

.userContent {
    width: 300px;
    height: 400px;
    background: #F9F9F924;
    border-radius: 10px;
    padding: 20px;
}

.imgUser {
    width: 175px;
    height: 175px;
    margin: 10px auto;
}

.imgUser img {
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid #27AE60;
}

.divisor {
    width: 50%;
    display: block;
    margin: 20px auto 0;
    background: #27AE60;
    height: 2px;
    border: none;
}

.userInfo {
    margin: 10px auto;
}

.userInfo h2 {
    margin: 0;
    text-align: center;
    font-size: 25px;
    color: #FFF;
}

.userInfo p {
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: #FFF;
}

.userLinks {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0;
}

.userSocial {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userSocial a{
    display: block;
    padding: 0 10px 0 0;
}

.userMore {
    background: #27AE60;
    color: #FFF;
    font-size: 20px;
    width: 150px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    box-shadow: 0 2px 2px 0 #000;
    transition: all .4s;
}

.userMore:hover {
    opacity: .7;
    color: #0E0D0D;
    box-shadow: none;
}

.btnActionUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 0;
}

.edit, .delete {
    width: 125px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #0E0D0D;
    border-radius: 55px;
    font-weight: 600;
}

.edit:hover, .delete:hover {
    color: #FFF;
}

.edit {
    background: #DBB801;
}

.delete {
    background: #F42626;
}