.users {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}

.user {
    width: 300px;
    height: 493px;
    background: #F9F9F924;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.imgUser {
    width: 175px;
    height: 175px;
    margin: 10px auto;
}

.imgUser img {
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}